{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow border-dark">
            <div class="card-header bg-dark text-white text-center">
                <h4>Nhân Viên Đăng Nhập</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <button type="submit" class="btn btn-dark w-100">Đăng Nhập Quản Trị</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
