# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/

# OS Files
.DS_Store
Thumbs.db

# Docker Data & DB
mysql_data/
postgres_data_v15/
chromadb_data/
*.sqlite3

# Environment Variables
.env

# Editor
.idea/
.vscode/
